<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content = "width=device-width, initial-scale = 1">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/media-queries.css">
</head>
<body>
<header>
    <div class="header">
        <div class="header-logo">
            <div class="header-logo1"></div>
        <div class="header-search"></div>
        </div>
        <nav class="nav-main">
            <div class="nav-buy"></div>
        </nav>
    </div>
</header>
<main>
    <section class="main-section">
        <div class="container-img"></div>
        <div class="container-main-title">
            <div class="container-logo">
                <img class="container-logo" src="../static/images/icons/Rectangle 16 copy.svg" alt="">
            </div>
            <div class="container-title">
                <div class="container-title1">
                    <p class="title_1"><b>THE BRAND</b></p>
                </div>
                <div class="container-title2">
                    <p class="title_2"> OF LUXERIOS <span>FASHION</span></p>
                </div>
            </div>
        </div>
    </section>
    <section id="offer">
        <div class="offer-wrap">
            <div class="offer">
                <p class="info">30% OFF<br> <span>FOR WOMEN</span></p>
            </div>
            <div class="offer">
                <p class="info">HOT DEAL<br> <span>FOR MEN</span></p>
            </div>
            <div class="offer">
                <p class="info">NEW ARRIVALS<br> <span>FOR KIDS</span></p>
            </div>
            <div class="offer">
                <p class="info">LUXIROUS & TRENDY<br> <span>ACCESORIES</span></p>
            </div>
        </div>
    </section>
    <section id="products">
        <h2 class="title-products">Fetured Items</h2>
        <p class="text-products">Shop for items based on what we featured in this week</p>
        <div class="container">
            <div class="products-wrap">
                <div class="products">
                    <div class="product-img">
                        <img class="image-card" src="../static/images/products/Rectangle 15 copy.jpg" alt="">
                    </div>
                    <div class="product-text">
                        <h4 class="title-card">ELLERY X M'O CAPSULE</h4>
                        <p class="discriptions">Known for her sculptural takes on traditional tailoring, Australian
                            arbiter of cool Kym Ellery teams up with Moda Operandi.</p>
                        <p class="price"><span>&#36;</span>52.00</p>
                    </div>
                </div>
                <div class="products">
                    <div class="product-img">
                        <img class="image-card" src="../static/images/products/Layer 51(1).png" alt="">
                    </div>
                    <div class="product-text">
                        <h4 class="title-card">ELLERY X M'O CAPSULE</h4>
                        <p class="discriptions">Known for her sculptural takes on traditional tailoring, Australian
                            arbiter of cool Kym Ellery teams up with Moda Operandi.</p>
                        <p class="price"><span>&#36;</span>52.00</p>
                    </div>
                </div>
                <div class="products">
                    <div class="product-img">
                        <img class="image-card" src="../static/images/products/Rectangle 15 copy.png" alt="">
                    </div>
                    <div class="product-text">
                        <h4 class="title-card">ELLERY X M'O CAPSULE</h4>
                        <p class="discriptions">Known for her sculptural takes on traditional tailoring, Australian
                            arbiter of cool Kym Ellery teams up with Moda Operandi.</p>
                        <p class="price"><span>&#36;</span>52.00</p>
                    </div>
                </div>
                <div class="products">
                    <div class="product-img">
                        <img class="image-card" src="../static/images/products/Rectangle 15 copy (1).png" alt="">
                    </div>
                    <div class="product-text">
                        <h4 class="title-card">ELLERY X M'O CAPSULE</h4>
                        <p class="discriptions">Known for her sculptural takes on traditional tailoring, Australian
                            arbiter of cool Kym Ellery teams up with Moda Operandi.</p>
                        <p class="price"><span>&#36;</span>52.00</p>
                    </div>
                </div>
                <div class="products">
                    <div class="product-img">
                        <img class="image-card" src="../static/images/products/Rectangle 15 copy (2).png" alt="">
                    </div>
                    <div class="product-text">
                        <h4 class="title-card">ELLERY X M'O CAPSULE</h4>
                        <p class="discriptions">Known for her sculptural takes on traditional tailoring, Australian
                            arbiter of cool Kym Ellery teams up with Moda Operandi.</p>
                        <p class="price"><span>&#36;</span>52.00</p>
                    </div>
                </div>
                <div class="products">
                    <div class="product-img">
                        <img class="image-card" src="../static/images/products/Rectangle 15 copy (3).png" alt="">
                    </div>
                    <div class="product-text">
                        <h4 class="title-card">ELLERY X M'O CAPSULE</h4>
                        <p class="discriptions">Known for her sculptural takes on traditional tailoring, Australian
                            arbiter of cool Kym Ellery teams up with Moda Operandi.</p>
                        <p class="price"><span>&#36;</span>52.00</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <button>Browse All Product</button>
    </div>

</main>

</body>
</html>
